@import 'fonts';
@import 'variables';
@import 'reset';

.header{
    margin: var(--spacing-800) var(--spacing-250);

    &__logo{
        width: 9rem;
        height: var(--spacing-400);
    }
}

.hero{
    margin: 0 var(--spacing-250) var(--spacing-800) var(--spacing-250);

    &__title{
        font-size: var(--spacing-500);
        font-weight: 700;
        letter-spacing: -1px;
        line-height: 1;
        margin-bottom: var(--spacing-500);
    }

    &__description{
        font-size: var(--spacing-200);
        font-weight: 400;
        line-height: 1.5;
    }
}

.app-preview {
    background-color: var(--state);
    padding: var(--spacing-600) var(--spacing-250);
    margin-top: 160px; 
    max-height: 23.75rem;
    
    background-image: url('../assets/image/bg-pattern-2.svg');
    background-repeat: no-repeat;
    background-position: center 0; 
    background-size: 19.5rem auto;

    &__img {
        width: 13.125rem;
        height: 100%;
        margin: -160px auto 0 auto;
    }
}

.pricing{
    background-color: var(--orange);
    padding: var(--spacing-600) var(--spacing-250);

    .card{
        max-width: 20.9375rem;

        &__title{
            font-size: var(--spacing-500);
            font-weight: 700;
            line-height: 1.1;
            margin-bottom: var(--spacing-300);
        }

        &__description{
            font-size: var(--spacing-200);
            font-weight: 400;
            line-height: 1.5;
            margin-bottom: var(--spacing-500);
        }

        &__price{
            font-size: var(--spacing-800);
            font-weight: 700;
            line-height: 1.1;
            margin-bottom: var(--spacing-600);

            display: flex;
            align-items: center;
            justify-content: flex-start;
            gap: var(--spacing-200);

            span{
                font-size: var(--spacing-250);
                font-weight: 400;
                line-height: 1.5;
            }
        }
    }

    .btn{
        display: inline-flex;
        align-items: center;
        justify-content: center;
        gap: var(--spacing-100); 
        width: 100%; 
        height: var(--spacing-800); 
        margin-bottom: var(--spacing-600);
        border-radius: 12px;
        font-size: 1.125rem;
        font-weight: 700;
        line-height: 1.8;
        transition: background-color 0.3s ease, color 0.3s ease;

        border: none;
        outline: none;

        img {
            width: var(--spacing-250);
            height: var(--spacing-250);
            object-fit: contain;
        }

        &--apple {
            background-color: var(--state);
            color: var(--white);
            margin-bottom: var(--spacing-200);

            &:hover {
                background-color: var(--cyan);
                color: var(--state); 

                img {
                    filter: brightness(0) saturate(100%) invert(6%) sepia(9%) saturate(827%) hue-rotate(197deg) brightness(97%) contrast(93%);
                }
            }

            &:focus-visible {
                outline: 3px solid var(--cyan);
                outline-offset: 3px;
            }
        }

        &--android {
            background-color: var(--white);
            color: var(--state);

            &:hover {
                background-color: var(--yellow);
                color: var(--state);
            }

            &:focus-visible {
                outline: 3px solid var(--yellow);
                outline-offset: 3px;
            }
        }
    }
}

.footer {
    padding: var(--spacing-800)  var(--spacing-250) var(--spacing-1000) var(--spacing-250);

    &__logo {
        width: 9rem;
        height: auto;
        margin-bottom: var(--spacing-400); 
    }

    &__text {
        font-size: var(--spacing-200);
        font-weight: 400;
        line-height: 1.5;
        margin-bottom: var(--spacing-400); 

        strong {
            font-weight: 700;
        }
    }

    &__social {
        display: flex;
        align-items: center;
        gap: var(--spacing-400);

        a {
            display: inline-flex;
            align-items: center;
            justify-content: center;
            transition: transform 0.2s ease, filter 0.2s ease;

            &:hover {
                transform: translateY(-2px);
                filter: brightness(0) saturate(100%) invert(56%) sepia(87%) saturate(1633%) hue-rotate(334deg) brightness(101%) contrast(97%);
            }
        }

        img {
            width: var(--spacing-250);
            height: var(--spacing-250);
        }
    }
}

@media (min-width: 768px) {
    body{
        background-image: 
            url('../assets/image/bg-pattern-1.svg'),
            url('../assets/image/bg-main-tablet.png');
        background-repeat: no-repeat, no-repeat;
        background-position: 
            551px -40px,
            left -400px top -200px;
        background-size: 267px 400px, 1200px auto;
    }

    .header{
        margin: var(--spacing-800) var(--spacing-500) var(--spacing-1600) var(--spacing-500);
    }

    .hero{
        margin: 0 var(--spacing-500) var(--spacing-800) var(--spacing-500);

        &__title{
            max-width: 26rem;
            font-size: var(--spacing-800);
        }

        &__description{
            max-width: 31.5rem;
            font-size: 1.125rem;
        }
    }

    .app-preview {
        max-width: 42.5rem;
        max-height: 37.5rem;
        border-radius: 12px;

        padding-right: var(--spacing-800);
        margin: 160px 0 var(--spacing-2500) var(--spacing-500);
        padding-right: var(--spacing-800); 
        background-position: left 0; 
        background-size: 300px auto;

        &__img {
            width: 16.875rem;
            margin: -160px auto var(--spacing-2500) 43px;
        }
    }

    .pricing{
        border-radius: var(--spacing-200);
        padding: var(--spacing-600);
        max-width: 22.25rem;
        
        margin-top: -720px;
        margin-left: 315px;
        margin-right: var(--spacing-500);

        position: relative;
        z-index: 10;

        .card{
            &__description{
                font-size: 1.125rem;
            }
        }

        .btn{
            margin-bottom: 0;

            &--apple {
                margin-bottom: var(--spacing-200);
            }
        }
    }

    .footer {
        padding: var(--spacing-800)  var(--spacing-500) var(--spacing-1000) var(--spacing-500);
        
        &__content{
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
        }

        &__text {
            margin-bottom: 0;

            strong{
                display: inline;
            }
        }
    }
}

@media (min-width: 1100px) {
    body{
        background-image: 
            url('../assets/image/bg-pattern-1.svg'),
            url('../assets/image/bg-main-desktop.png');
        background-repeat: no-repeat, no-repeat;
        background-position: 
            1200px -40px,
            left -400px top -200px;
        background-size: 312px 468px, 1950px auto;
    }

    main {
        display: flex;
        flex-direction: column; 
        align-items: center;    
        max-width: 69.375rem;     
        margin: 0 auto;         
        position: relative;     
    }

    .header{
        max-width: 70rem;
        width: 100%;
        margin: var(--spacing-800) auto var(--spacing-1600) auto;
    }

    .hero{
        max-width: 70rem;
        width: 100%;
        margin: 0 auto var(--spacing-800) auto;

        &__title{
            max-width: 58rem;
            font-size: 5.5rem;
            margin-bottom: var(--spacing-500);
        }

        &__description{
            max-width: 46rem;
            font-size: var(--spacing-250);
        }
    }

    .app-preview {
        max-width: 70rem;
        width: 100%;
        max-height: 37.5rem;
        border-radius: 12px;
        margin: 0 auto;
        margin-top: var(--spacing-2500);
        margin-bottom: var(--spacing-2500);
        position: relative;

        background-position: 47% 0; 
        background-size: auto;

        &__img {
            width: 19.5rem;
            display: inline;
            margin: -160px auto var(--spacing-2500) var(--spacing-1000);
        }
    }

    .pricing{
        position: relative;
        z-index: 10;

        max-width: 32rem;
        max-height: 39.5rem;

        padding: var(--spacing-700);  
        border-radius: var(--spacing-200);      
        
        margin-left: auto; 
        margin-right: 120px;
        margin-top: -770px; 
        margin-bottom: var(--spacing-1600);
        transform: translateY(4.5rem); 

        .card{
            &__description{
                font-size: var(--spacing-250);
            }
        }

        .btn{
            margin-bottom: 0;

            &--apple {
                margin-bottom: var(--spacing-200);
            }
        }
    }

    .footer {
        padding: var(--spacing-800)  0 var(--spacing-1000) 0;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        max-width: 70rem;
        width: 100%;
        margin: 0 auto;
        
        &__content{
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            flex-grow: 1;
            margin-left: var(--spacing-1600); 
        }

        &__text {
            margin-bottom: 0;

            strong{
                display: inline;
            }
        }
    }
}
